.divider {
    margin-top: 35px;
}

.divider > p {
    font-size: 20px;
    font-family: 'aller', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.field-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    outline: 1px solid;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 25px;
}

.field-wrapper.hidden {
    display: none;
}

.field-wrapper.error {
    background: #fff5f5;
    outline-color: #e00;
    margin-bottom: 0;
}

.error-wrapper {
    width: 100%;
    margin: 0px 0px 25px -1px;
    padding: 15px 0;
    background: #fff5f5;
    border: 1px solid #faa;
    color: #f00;
    font-family: 'HelveticaLT', sans-serif;
    text-align: center;
    font-size: 15px;
    display: none;
}

.field-wrapper.error + .error-wrapper {
    display: block;
}

.field-wrapper.button {
    outline: none;
    width: 100%;
    margin-top: 15px;
    background: none;
}

.field-wrapper.button > button {
    background: #fff;
    border: 1px solid;
    font-family: 'HelveticaLT', sans-serif;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    text-align: left;
}

.field-wrapper.button.error > button {
    background: #fff5f5;
    border-color: #e00;
}

.field-wrapper.button > span {
    font-size: 24px;
    margin-top: -14px;
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
}

.field-wrapper.button.error > span {
    color: #f00 !important;
}

.field-wrapper.textarea {
    height: 80px;
}

.field-wrapper.input > input, .field-wrapper.select > select, .field-wrapper.textarea > textarea, .field-wrapper.datepicker > input, .field-wrapper.checkbox > span {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-family: 'HelveticaLT', sans-serif;
    font-weight: 700;
}

.field-wrapper.input > input, .field-wrapper.datepicker > input {
    padding-top: 5px;
    padding-bottom: 5px;
}

.field-wrapper.input > input, .field-wrapper.textarea > textarea, .field-wrapper.datepicker > input {
    width: calc(100% - 20px);
    height: calc(100% - 10px);
    padding-left: 10px;
    padding-right: 10px;
}

.field-wrapper.textarea > textarea, .field-wrapper.select > select {
    padding-top: 10px;
}

.field-wrapper.textarea > textarea {
    resize: none;
}

.field-wrapper.select > select {
    padding-left: 5px;
    padding-top: 2px;
}

.field-wrapper.select:after {
    content: "\e04c";
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0;
    right: 0;
    padding-top: 5px;
    font-family: ElegantIcons;
    font-size: 25px;
    background: #fff;
    cursor: pointer;
    display: none;
}

.field-wrapper.select.error:after {
    background: #fff5f5;
    color: #f00;
}

::-webkit-input-placeholder {
   color: #000;
   opacity: 1;
}

:-moz-placeholder {
   color: #000;
   opacity: 1;  
}

::-moz-placeholder {
   color: #000;
   opacity: 1;  
}

:-ms-input-placeholder {  
   color: #000;
   opacity: 1;
}

.field-wrapper.select > select {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.field-wrapper.select > select > option {
    background: #fff;
    color: #000;
    height: 25px;
    line-height: 25px;
    padding-top: 5px;
    font-family: 'HelveticaLT', sans-serif;
}

.field-wrapper.checkbox > span {
    margin-left: 10px;
    position: absolute;
    top: 10px;
}

.field-wrapper.checkbox > div {
    position: relative;
    width: 90px;
    height: auto;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
    outline: none;
}

.field-wrapper.checkbox > div > input {
    display: none;
}

.field-wrapper.checkbox > div > label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #858694;
    border-radius: 3px;
}

.field-wrapper.checkbox > div > label > .inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -webkit-transition: ease-in .2s;
       -moz-transition: ease-in .2s;
         -o-transition: ease-in .2s;
            transition: ease-in .2s;
}

.field-wrapper.checkbox > div > label > .inner:before, .field-wrapper.checkbox > div > label > .inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 28px;
    padding: 0;
    line-height: 28px;
    font-size: 16px;
    color: white;
    font-family: 'HelveticaLT', sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-wrapper.checkbox > div > label > .inner:before {
    content: "SI";
    padding-left: 20px;
    background-color: #595;
    color: #FFF;
}

.field-wrapper.checkbox > div > label > .inner:after {
    content: "NO";
    padding-right: 15px;
    background-color: #e00;
    color: #fff;
    text-align: right;
}

.field-wrapper.checkbox > div > label > .switch { 
    display: block;
    width: 30px;
    margin: 0px;
    background: #eee;
    border: 1px solid #888;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 58px;
    -webkit-transition: ease-in .2s;
       -moz-transition: ease-in .2s;
         -o-transition: ease-in .2s;
            transition: ease-in .2s;
}

.field-wrapper.checkbox > div > input:checked + label > .inner {
    margin-left: 0;
}

.field-wrapper.checkbox > div > input:checked + label > .switch {
    right: 0px;
}

.field-wrapper.multiselect > select {
    display: none;
}

.field-wrapper.multiselect {
    min-height: 40px;
    height: auto;
}

.field-wrapper.multiselect.active {
    overflow: visible;
}

.field-wrapper.attached {
    cursor: pointer;
}

.field-wrapper.attached .upload-status-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

.field-wrapper.attached .upload-progress {
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background: #e3e3e3;
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
            transition: all .2s ease;
}

.field-wrapper.attached .upload-filename {
    font-family: 'HelveticaLT', sans-serif;
    padding-top: 11px;
    position: relative;
    text-align: left;
    padding-left: 10px;
    margin: 0;
}

.field-wrapper.attached input {
    width: 0;
    float: left;
}

.field-wrapper.attached span {
    font-size: 24px;
    margin-top: -14px;
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
}

.field-wrapper.attached.error span {
    color: #f00 !important;
}